{% extends "base.html" %}
{% load static %}

{% block title %}{{ quest.title }}{% endblock title %}
{% block description %}{{ quest.description }}{% endblock description %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/dracula.min.css">
{% endblock extra_css %}

{% block content %}
<div class="max-w-7xl mx-auto">
    <div class="bg-gray-900 border border-gray-800 rounded-lg p-6 mb-8">
        <div class="flex justify-between items-start mb-4">
            
            <div class="flex items-center flex-wrap"> 
                <h1 class="text-3xl font-bold mb-3 text-white mr-4">{{ quest.title }}</h1>
                
                {% if quest.penalty > 0 %}
                <div class="inline-flex items-center bg-red-900/40 text-red-400 text-sm font-semibold px-3 py-1 rounded-full">
                     Штраф: -{{ quest.penalty }} очков
                </div>
                {% endif %}
                </div>
            <span class="bg-blue-500/20 text-blue-400 text-sm font-semibold px-3 py-1 rounded-full quest-lang">{{ quest.language.name }}</span>
        </div>
        <div class="pt-5 border-t border-gray-700/50 prose prose-invert max-w-none text-gray-400">
            <p>{{ quest.details.task|safe }}</p>
        </div>
    </div>

    <div class="bg-gray-900 border border-gray-800 rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4 text-white">Ваше решение</h2>
        <textarea id="code-editor"></textarea>
    </div>

    <div class="mt-8 flex justify-center">
        {% if quest.slug in completed_list %}
        <button class="px-8 py-3 text-base bg-gray-600 text-white font-bold rounded-lg">
            <span>🕒 Квест заблокирован, возвращайтесь через 3 дня</span>
        </button>
        {% else %}
        {% csrf_token %}
        <div class="flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8">
            <button data-action="complete" data-quest-slug="{{ quest.slug }}" class="quest-btn px-8 py-3 text-base bg-cyan-600 hover:bg-cyan-700 text-white font-bold rounded-lg transition-colors duration-300">
                <span>Отправить Решение</span>
            </button>
            <button data-action="give-up" data-quest-slug="{{ quest.slug }}" class="quest-btn px-8 py-3 text-base bg-gray-600 hover:bg-gray-700 text-white font-bold rounded-lg transition-colors duration-300">
                <span>Сдаться</span>
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/closetag.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/closebrackets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/selection/active-line.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/{{ quest.language.name|lower }}/{{ quest.language.name|lower }}.min.js"></script>

<script src="{% static "/js/code-mirror/code-mirror.js" %}"></script>
<script src="{% static "/js/quest-btn.js" %}"></script>
{% endblock extra_js %}