{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}">

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.2/lib/codemirror.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}

    <link rel="stylesheet" href="{% static "/css/styles.css" %}">
    <script src="{% static "/js/tailwind.js" %}"></script>
</head>

<body class="bg-dark text-light min-h-screen">
    {% include "include/menu.html" %}

    <main class="container mx-auto py-8 px-4">
        {% block content %}
        {% endblock content %}
    </main>

    <script>feather.replace();</script>
</body>
<footer>
    <script src="{% static "/js/mobile-menu.js" %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</footer>
</html>