{% extends "base.html" %}
{% load static %}

{% block title %}{{ quest.title }}{% endblock title %}
{% block description %}{{ quest.description }}{% endblock description %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/dracula.min.css">
{% endblock extra_css %}

{% block content %}
<div class="max-w-7xl mx-auto">
    <div class="bg-gray-900 border border-gray-800 rounded-lg p-6 mb-8">
        <div class="flex justify-between items-start mb-4">
            <div>
                {% if quest.pts %}
                    <span class="bg-cyan-500/20 text-cyan-400 text-sm font-semibold px-3 py-1 rounded-full">{{ quest.pts }} PTS</span>
                {% endif %}
                {% if quest.difficulty == "easy" %}
                    <span class="bg-cyan-500/20 text-cyan-400 text-sm font-semibold px-3 py-1 rounded-full">{{ quest.difficulty|title }}</span>
                {% elif quest.difficulty == "medium" %}
                    <span class="bg-orange-500/20 text-orange-400 text-sm font-semibold px-3 py-1 rounded-full">{{ quest.difficulty|title }}</span>
                {% else %}
                    <span class="bg-red-500/20 text-red-400 text-sm font-semibold px-3 py-1 rounded-full">{{ quest.difficulty|title }}🔥</span>
                {% endif %}

                {% if quest.penalty > 0 %}
                    <span class="bg-red-500/20 text-red-400 text-sm font-semibold px-3 py-1 rounded-full">-{{ quest.penalty }} PTS</span>
                {% endif %}
            </div>
            <span class="quest-lang bg-blue-500/20 text-blue-400 text-sm font-semibold px-3 py-1 rounded-full" style="background-color: {{ quest.language.bg_color }}; color: {{ quest.language.color }};">
                {{ quest.language.name }}
            </span>
        </div>

        <h1 class="font-bold text-white text-3xl mb-2">{{ quest.title }}</h1>
        <p class="text-gray-400 text-base mb-6">{{ quest.task|safe }}</p>
    </div>

    <div class="bg-gray-900 border border-gray-800 rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4 text-white">Ваше решение</h2>
        <textarea id="code-editor"></textarea>
    </div>

    <div class="mt-8 flex justify-center">
        {% if quest.slug in completed %}
        <button class="px-8 py-3 text-base bg-gray-600 text-white font-bold rounded-lg">
            <span>🕒 Квест на таймауте</span>
        </button>
        {% else %}
        {% csrf_token %}
        <div class="flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8">
            <button data-action="complete" data-slug="{{ quest.slug }}" class="action-btn px-8 py-3 text-base bg-cyan-600 hover:bg-cyan-700 text-white font-bold rounded-lg transition-colors duration-300">
                <span>Отправить Решение</span>
            </button>
            <button data-action="give-up" data-slug="{{ quest.slug }}" class="action-btn px-8 py-3 text-base bg-gray-600 hover:bg-gray-700 text-white font-bold rounded-lg transition-colors duration-300">
                <span>Сдаться</span>
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/closetag.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/closebrackets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/selection/active-line.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/{{ quest.language.name|lower }}/{{ quest.language.name|lower }}.min.js"></script>

<script src="{% static "js/code-mirror/code-mirror.js" %}"></script>
<script src="{% static "js/buttons.js" %}"></script>
{% endblock extra_js %}